.gPgROk {
    position: relative;
    font-family: Inter;
}

.cBxQmJ {
    position: relative;
}

.fexavh {
    padding: 0px 16px;
    margin: 0px auto;
}

.fexavh img {
    max-width: 100%;
}

.eqXGSm {
    position: relative;
    z-index: 11;
    background-color: white;
}

.eqXGSm .intro {
    margin-top: 12px;
}

.eqXGSm .intro a {
    color: rgb(209, 66, 66);
}

.eqXGSm .guide {
    margin-bottom: 24px;
}

.eqXGSm .SectionDolCourseCalendar__FilterWrapper-sc-blk7i5-1 {
    margin-bottom: 12px;
}


.bEwdNL {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.frARTn {
    display: grid;
    -webkit-box-pack: start;
    justify-content: start;
    gap: 12px;
}

.kWGKDI {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.xrgiW {
    display: flex;
    width: max-content;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: rgb(244, 244, 246);
    -webkit-box-align: center;
    align-items: center;
}

.bWCaLh {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(143, 146, 161);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.css-1snafhy-container {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.css-nc9rzs-control {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 20px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    line-height: 20px;
}

.css-1e7pvcz {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2px 8px;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.css-1kb543t-singleValue {
    color: #242938;
    margin-left: 2px;
    margin-right: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.css-62g3xt-dummyInput {
    background: 0;
    border: 0;
    font-size: inherit;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.css-ckmclx {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.css-ckmclx>div {
    padding: 0;
}

.css-ckmclx>div>svg {
    width: 24px;
    height: 24px;
}

.css-tlfecz-indicatorContainer {
    color: hsl(0, 0%, 80%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    box-sizing: border-box;
}

.css-19bqh2r {
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

.xrgiW {
    display: flex;
    width: max-content;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: rgb(244, 244, 246);
    -webkit-box-align: center;
    align-items: center;
}

.bWCaLh {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(143, 146, 161);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.css-1snafhy-container {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

/*-----------------------------------*\
  table-wrapper
\*-----------------------------------*/

.eqXGSm .table-wrapper {
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(233, 233, 236);
    border-radius: 8px;
}

.eqXGSm .table {
    overflow: auto;
    max-width: 100vw;
}

.eqXGSm .table .table-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(210, 211, 217);
}

.eqXGSm .table .table-header .th {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
}

.eqXGSm .table .table-header .th .th-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.eqXGSm .table .t-course {
    min-width: 242px;
}

.desktop-only,
.mobile-only,
.tablet-only {
    display: none !important;
}

.eqXGSm .t-class-head {
    min-width: 120px;
}

.eqXGSm .table .table-header .th .th-icon {
    font-size: 16px;
    line-height: 0;
    margin-right: 6px;
}

.eqXGSm .t-class-opening {
    min-width: 86px;
}

.eqXGSm .t-class-session {
    min-width: 80px;
}

.eqXGSm .t-class-duration {
    min-width: 64px;
}

.eqXGSm .t-class-english-center {
    width: 58px;
}

.eqXGSm .table .table-body>div:not(:last-child) {
    border-bottom: 1px solid rgb(210, 211, 217);
}

.eqXGSm .table .table-body .table-row.expanded:first-child,
.eqXGSm .table .table-body .table-row.collapsed:first-child {
    padding-top: 16px;
}

.eqXGSm .table .table-body .table-row {
    display: flex;
}

.eqXGSm .table .table-body .table-row .table-cell {
    padding: 8px;
}

.eqXGSm .table .table-row .table-cell {
    padding: 0px;
}

.eqXGSm .table .t-course-mobile-name {
    white-space: nowrap;
}

.eqXGSm .table .t-course-mobile-duration {
    font-size: 14px;
    line-height: 20px;
    flex: 1 1 0%;
}

.eqXGSm .row {
    display: flex;
}

.gPgROk .row {
    display: flex;
}

.eYvGmD {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.eqXGSm .table .table-body .table-row .row-icon {
    font-size: 24px;
    display: grid;
    place-items: center;
}

.eqXGSm .table .table-body .table-row .row-icon svg {
    transition: all 0.3s ease 0s;
}

.cDaNnr {
    transform: rotate(0deg);
}

.eqXGSm .table .table-body .table-row .table-cell .row-icon {
    margin-right: 12px;
    place-items: start;
}

.eqXGSm .table .table-body .table-row .table-cell .cell-text.bold {
    font-weight: 550;
}

.eqXGSm .table .table-body .table-row .table-cell .cell-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
}

.eqXGSm h3 {
    margin: 0px;
}

.eqXGSm .table .table-row .table-content {
    flex: 1 1 0%;
}

.eqXGSm .table .table-row .t-class {
    border-bottom: none;
}

.eqXGSm .t-class {
    width: 100%;
    max-width: 256px;
}

.eqXGSm .table .table-body .row-class {
    width: 100%;
    height: 100%;
}

.eqXGSm .table .table-row .row-class>.row {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.eqXGSm .table .table-body .row-class>.row {
    min-height: 43px;
    height: 100%;
}

.eqXGSm .table .table-row .t-class-opening {
    border-bottom: none;
}

.eqXGSm .table .table-row .t-class-session {
    border-bottom: none;
}

.eqXGSm .table .table-row .t-class-duration {
    border-bottom: none;
}

.cdVWlo {
    color: rgb(32, 116, 187);
    text-decoration: underline;
}

.GidqQ {
    padding: 0px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    height: max-content;
    display: inline-flex;
    color: inherit;
}

.GidqQ.bold {
    font-weight: 600;
}

.GidqQ.filled {
    background-color: rgb(242, 174, 157);
}

.hVUlDX {
    padding: 0px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    height: max-content;
    display: inline-flex;
    color: inherit;
}

.hVUlDX.bold {
    font-weight: 600;
}

.hVUlDX.filled {
    background-color: rgb(166, 199, 228);
}

.iVVFSc {
    padding: 0px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    height: max-content;
    display: inline-flex;
    color: inherit;
}

.iVVFSc.bold {
    font-weight: 600;
}

.iVVFSc.filled {
    background-color: rgb(186, 180, 221);
}


/*-----------------------------------*\
 Brand office
\*-----------------------------------*/

.dEtwjw>div {
    margin-bottom: 64px;
}

.kHaNCK {
    margin-top: 32px;
}

.kdhhhK {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.kHaNCK .intro {
    margin-top: 12px;
    margin-bottom: 24px;
}

.hIcRRi {
    display: grid;
    gap: 16px;
}

.hIcRRi .card {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid rgb(233, 233, 236);
    border-radius: 8px;
}

.cpWEDp {
    min-height: 170px;
}

.cpWEDp .badge {
    width: fit-content;
    padding: 2px 8px;
    border-radius: 30px;
    color: var(--red-orange-color-wheel);
    background: rgb(250, 236, 236);
}

.evLrUL {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}

.cpWEDp .title {
    margin-top: 8px;
    margin-bottom: 16px;
}

.cpWEDp .contact {
    display: grid;
    grid-template-columns: max-content minmax(0px, 1fr);
    gap: 4px;
}

.cpWEDp .contact.location {
    margin-bottom: 8px;
}

.dBzNSK {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.bXOiJV {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(124, 127, 136);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.hIcRRi .card>a {
    display: block;
    margin-top: 16px;
}

.hIcRRi .card .view-map {
    width: fit-content;
    margin: 0px auto;
    position: relative;
    cursor: pointer;
}

.hIcRRi .card .view-map::after {
    content: "";
    position: absolute;
    background: var(--red-orange-color-wheel);
    bottom: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    z-index: -1;
}

.kGkyuR {
    margin-block: 0px;
    margin-inline: 0px;
    color: var(--red-orange-color-wheel);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.dRabfP {
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    gap: 10px;
    background: var(--red-orange-color-wheel);
    border-radius: 8px;
    width: 100%;
}

.dRabfP:hover {
    background: hsl(15, 89%, 65%);
}

.dRabfP svg {
    width: 24px;
    height: 24px;
}

.dRabfP>p,
.dRabfP svg {
    color: rgb(255, 255, 255);
}

.jupgZp {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.dEtwjw > div {
    margin-bottom: 64px;
}

.dEtwjw > div:last-child, .dEtwjw > div:first-child {
    margin-bottom: 32px;
}

.bZfrtW {
    display: grid;
    gap: 16px;
}

.fuwTgg {
    border: 1px solid rgb(233, 233, 236);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px;
}

.fXRxwu {
    width: 40px;
    height: 40px;
}

.jA-DMcE {
    padding-inline-start: 28px;
    margin: 8px 0px 0px;
}

.SectionWhyDOL__InfoCardTextList-sc-qw1hx-3 li{
    list-style: outside;
}

.SectionWhyDOL__InfoCardTextLI-sc-qw1hx-2 .jVffCu::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.hYzWBn {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
}

.bZfrtW {
    display: grid;
    gap: 16px;
}





/*-----------------------------------*\
/*-----------------------------------*\
  animation
\*-----------------------------------*/

@keyframes react-responsive-modal-fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.react-responsive-modal-overlay {
    background: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    padding: 1.2rem;
}

.react-responsive-modal-modal {
    max-width: 800px;
    position: relative;
    padding: 1.2rem;
    background: #fff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .25);
    margin: 0 auto;
}

.kTLXWg {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.kTLXWg .BranchOffice__ModalHeader-sc-1ofjr7m-4 {
    margin-bottom: 32px;
}

.fnnAvq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.kEEKVD {
    margin-block: 0px;
    margin-inline: 0px;
    color: rgb(36, 41, 56);
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.fnnAvq .icon {
    line-height: 0;
}

.fnnAvq .icon svg {
    width: 32px;
    height: 32px;
    color: rgb(143, 146, 161);
    cursor: pointer;
}

.kTLXWg .ScheduleTable__TableWrapper-sc-6ikymi-2 {
    overflow: auto;
}

.kTLXWg .ScheduleTable__TableWrapper-sc-6ikymi-2 .table {
    overflow: initial;
    max-width: initial;
}

.eMtBSY .table {
    overflow: auto;
    max-width: 100vw;
}

.eMtBSY .table .table-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(210, 211, 217);
}

.eMtBSY .table .table-header .th {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
}

.eMtBSY .table .t-course {
    min-width: 282px;
}

.eMtBSY .table .table-header .th .th-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.eMtBSY .table .table-header .th .th-icon {
    font-size: 16px;
    line-height: 0;
    margin-right: 6px;
}

.desktop-only,
.mobile-only,
.tablet-only {
    display: none !important;
}










/*-----------------------------------*\
/*-----------------------------------*\
/*-----------------------------------*\
  media-queries
\*-----------------------------------*/



@media screen and (min-width: 458px) {
    .bEwdNL {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }

    .frARTn {
        grid-auto-flow: column;
    }

    .fexavh {
        max-width: 457px;
    }

    .kdhhhK {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
}

/* ======================================================================== */
@media screen and (min-width: 776px) {
    .kWGKDI {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .bWCaLh {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .bWCaLh {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .eqXGSm .t-class-head {
        min-width: 300px;
    }

    .eqXGSm .t-class-session {
        min-width: 112px;
    }

    .eqXGSm .t-class-duration {
        min-width: 104px;
    }

    .eqXGSm .t-class-english-center {
        width: 92px;
    }

    .fexavh {
        max-width: 712px;
        padding: 0px;
    }

    .eYvGmD {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    .eqXGSm .t-class-opening {
        min-width: 86px;
    }

    .eqXGSm .t-class-duration {
        min-width: 104px;
    }

    .eqXGSm .t-class-english-center {
        width: 92px;
    }

    .kHaNCK {
        margin-top: 100px;
    }

    .dEtwjw>div {
        margin-bottom: 100px;
    }

    .hIcRRi {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .hIcRRi .card {
        padding: 24px;
    }

    .hIcRRi .card .BranchOffice__Info-sc-1ofjr7m-1 {
        min-height: 180px;
    }

    .evLrUL {
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
    }

    .dBzNSK {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
    }

    .bXOiJV {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .kGkyuR {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .jupgZp {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }

    .kEEKVD {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
    }

    .eMtBSY .table .t-class {
        min-width: 156px;
    }

    .eMtBSY .table .t-class-opening {
        min-width: 221px;
    }

    .eMtBSY .table .t-class-session {
        min-width: 129px;
    }

    .eMtBSY .table .t-class-duration {
        min-width: 221px;
    }

    .dEtwjw > div {
        margin-bottom: 100px;
    }

    .dEtwjw > div:last-child {
        margin-bottom: 100px;
    }

    .bZfrtW {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    .hYzWBn {
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
    }
    




}

/* ======================================================================== */
@media screen and (min-width: 1144px) {
    .bEwdNL {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
    }

    .kWGKDI {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }

    .bWCaLh {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .bWCaLh {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .eqXGSm .table-wrapper .desktop-only {
        display: block !important;
    }

    .eqXGSm .table-wrapper .table .t-class-head {
        min-width: 156px;
    }

    .eqXGSm .table-wrapper .table .t-class-opening {
        min-width: 221px;
    }

    .eqXGSm .table-wrapper .desktop-only {
        display: block !important;
    }

    .eqXGSm .table-wrapper .table .t-class-duration {
        min-width: 221px;
    }

    .eqXGSm .table-wrapper .table .t-class-english-center {
        width: 109px;
    }

    .fexavh {
        max-width: 1080px;
        padding: 0px;
    }

    .eqXGSm .table-wrapper .table .table-row.expanded:first-child,
    .eqXGSm .table-wrapper .table .table-row.collapsed:first-child {
        border-top: 1px solid rgb(210, 211, 217);
        padding-top: 0px;
    }

    .eqXGSm .table-wrapper .table .table-row {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .eqXGSm .table-wrapper .table-mobile {
        display: none !important;
    }

    .eqXGSm .table-wrapper .table .table-row .table-cell {
        padding: 8px;
    }

    .eYvGmD {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    }

    .eqXGSm .table-wrapper .desktop-only.d-flex {
        display: flex !important;
    }

    .eqXGSm .table-wrapper .table .t-class {
        width: unset;
        min-width: 156px;
    }

    .eqXGSm .table-wrapper .table .row-class {
        flex: 1 1 0%;
    }

    .eqXGSm .table-wrapper .table .row-class>.row {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }

    .eqXGSm .table-wrapper .table .t-class-opening {
        min-width: 221px;
    }

    .eqXGSm .table-wrapper .table .t-class-session {
        min-width: 129px;
    }

    .kdhhhK {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
    }

    .hIcRRi {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .evLrUL {
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
    }

    .dBzNSK {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
    }

    .bXOiJV {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .kGkyuR {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .jupgZp {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }

    .kEEKVD {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
    }

    .bZfrtW {
        grid-template-columns: repeat(3, 1fr);
    }

    .hYzWBn {
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
    }




}

/* ======================================================================== */
@media screen and (min-width: 1366px) {
    .desktop-only {
        display: block !important;
    }

    .desktop-only.d-flex {
        display: flex !important;
    }

    .gPgROk {
        padding-top: 100px;
        padding-bottom: 0px;
    }

}